Source: monitor-helm-elastic
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 chartmuseum,
 helm,
 procps
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: monitor-helm-elastic
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: StarlingX Monitor Elastic Helm Charts
 This package contains elastic helm charts for the monitor
 application.
