Source: stx-monitor-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 monitor-helm,
 monitor-helm-elastic
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-monitor-helm
Section: libs
Architecture: all
Depends: ${misc:Depends}, monitor-helm, monitor-helm-elastic
Description: StarlingX Monitor Armada Helm Charts
 This package contains Armada helm charts for the monitor
 application.
